{form listForm}
<div class="fake-hidden">{input save}</div>

<table class="list table edit">

  <thead>
    <tr>
      <th>chýbajúci</th>
      <th>hodina</th>
      <th>trieda</th>
      <th>predmet</th>
      <th>zastupujúci</th>
    </tr>
  </thead>

  <tbody>

    {foreach $form['absentions']->getContainers() as $aid => $absention}

    <tr n:foreach="$absention['substitutions']->getContainers() as $sid => $substitution">
      <td class="teacher" n:inner-first>
        <input n:input="absentions-$aid-teacher"
          n:class="$absention['teacher']->errors ? error"
          n:attr="title => implode($absention['teacher']->errors, ', ') ?: NULL">
      </td>
      <td class="hour">
        <input n:input="absentions-$aid-substitutions-$sid-hour"
          n:class="$substitution['hour']->errors ? error"
          n:attr="title => implode($substitution['hour']->errors, ', ') ?: NULL">
      </td>
      <td class="class">
        <input n:input="absentions-$aid-substitutions-$sid-class"
          n:class="$substitution['class']->hasErrors() ? error"
          n:attr="title => implode($substitution['class']->errors, ', ') ?: NULL">
      </td>
      <td class="subject">
        <input n:input="absentions-$aid-substitutions-$sid-subject"
          n:class="$substitution['subject']->hasErrors() ? error"
          n:attr="title => implode($substitution['subject']->errors, ', ') ?: NULL">
      </td>
      <td class="substitute">
        <input n:input="absentions-$aid-substitutions-$sid-substitute"
          n:class="$substitution['substitute']->hasErrors() ? error"
          n:attr="title => implode($substitution['substitute']->errors, ', ') ?: NULL">
      </td>
    </tr>

    <tr>
      <td class="teacher"></td>
      <td colspan="4" class="add">{input absentions-$aid-substitutions-add, class => "btn"}</td>
    </tr>

    {/foreach}

    <tr>
      <td colspan="5" class="add">
        {input absentions-add, class => "btn"}
      </td>
    </tr>

  </tbody>

</table>

<div class="form-actions">
  {input save, class => "btn btn-primary"}
</div>
{/form}

<script type="text/javascript">
  var sources = {$names};

  $('.teacher input, .substitute input').typeahead({ source: sources.teachers });
  $('.class input').typeahead({ source: sources.classes });
  $('.subject input').typeahead({ source: sources.subjects });
</script>
