{block #title}{$date->format('j. n.')}{/block}

{block #content}
<h1>{$date->format('j. n. Y')}</h1>

<ul class="nav nav-tabs list-tabs" n:ifAllowed="edit list">
  <li class="active">
    <a n:href="view $date->format('Y-m-d')">zobraziť</a>
  </li>
  <li n:if="$list">
    <a n:href="edit $date->format('Y-m-d')">upraviť</a>
  </li>
  <li n:if="!$list">
    <a n:href="create $date->format('Y-m-d')">vytvoriť</a>
  </li>
  <li n:if="$list">
    <a href="javascript:window.print()">vytlačiť</a>
  </li>
</ul>

{if $list}
<table class="list table">
  <thead>
    <tr>
      <th>chýbajúci</th>
      <th>hodina</th>
      <th>trieda</th>
      <th>predmet</th>
      <th>zastupujúci</th>
    </tr>
  </thead>
  <tbody>
    {foreach $list as $absention}
    <tr n:foreach="$absention->substitutions as $s">
      <td class="teacher" n:inner-first>{$absention->teacher}</td>
      <td class="hour">{$s->hour}</td>
      <td class="class">{$s->class}</td>
      <td class="subject">{$s->subject}</td>
      <td class="substitute">{$s->substitute}</td>
    </tr>
    {/foreach}
  </tbody>
</table>
{else}
<p>Na tento deň zastupovačka ešte neexistuje.</p>
{/if}
