<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{ifset #title}{include #title} | {/ifset}zastupovačka</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/css/style.css" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/js/bootstrap.js"></script>
	{block head}{/block}
</head>

<body n:class="$user->loggedIn ? logged-in">
	<script> document.body.className+=' js' </script>

	<div class="navbar navbar-fixed-top" id="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="{$baseUri}">
					zastupovačka
					<span class="version">&alpha;</span>
				</a>
				<ul class="nav">
					<li>
						<a n:href="Bug:report">nahlásiť chybu</a>
					</li>
				</ul>
				<ul class="nav pull-right">
					{if $user->loggedIn}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{$user->identity->first_name} {$user->identity->surname}
						</a>
						<ul class="dropdown-menu">
							<li><a n:href="Sign:out">odhlásiť sa</a></li>
						</ul>
					</li>
					{else}
					<li><a n:href="Sign:in">prihlásiť sa</a></li>
					{/if}
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="wrapper">

		<div class="row-fluid">
			<div class="span3" id="sidebar">
				<ul class="nav nav-list">
					{if $user->loggedIn}
					<li class="nav-header">absencie</li>
					<li n:class="$presenter->isLinkCurrent('Absention:report') ? active" n:ifAllowed="report absention">
						<a n:href="Absention:report">nahlásiť absenciu</a>
					</li>
					<li n:class="$presenter->isLinkCurrent('Absention:default') ? active" n:ifAllowed="viewMine absention">
						<a n:href="Absention:default">moje absencie</a>
					</li>
					{/if}

					<li class="nav-header">zastupovačky</li>
					<li n:class="$presenter->isLinkCurrent('List:create') ? active" n:ifAllowed="create list">
						<a n:href="List:create">vytvoriť novú</a>
					</li>
					<li n:class="$presenter->isLinkCurrent('List:view', array('date' => 'today')) ? active">
						<a n:href="List:view today">dnes</a>
					</li>
					<li n:class="$presenter->isLinkCurrent('List:view', array('date' => 'tomorrow')) ? active">
						<a n:href="List:view tomorrow">zajtra</a>
					</li>
					<li n:class="$presenter->isLinkCurrent('List:view', array('date' => $list->date->format('Y-m-d'))) ? active" n:foreach="$__lists as $list">
						<a n:href="List:view $list->date->format('Y-m-d')">{$list->date->format('j. n.')}</a>
					</li>
					<li n:class="$presenter->isLinkCurrent('List:default') ? active">
						<a n:href="List:default">všetky</a>
					</li>
			</div>

			<div class="span9" id="content">

				<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>

				{include #content}
			</div>
		</div>

	</div>

	<!-- Michal Miškerník (http://michal.miskernik.sk/) -->
</body>
</html>
